* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #111;
  background-image:
    linear-gradient(rgba(255, 255, 255, .07) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .07) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  position: relative;
  min-height: 8000px;
}



a {
  color: inherit;
}

.box {
  width: 100px;
  height: 100px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: absolute;
}

/* 600 */
.red {
  background: #dc2626;
}

.orange {
  background: #ea580c;
}

.amber {
  background: #d97706;
}

.yellow {
  background: #ca8a04;
}

.lime {
  background: #65a30d;
}

.green {
  background: #16a34a;
}

.emerald {
  background: #059669;
}

.teal {
  background: #0d9488;
}

.cyan {
  background: #0891b2;
}

.sky {
  background: #0284c7;
}

.blue {
  background: #2563eb;
}

.indigo {
  background: #6366f1;
}

.violet {
  background: #7c3aed;
}

.purple {
  background: #9333ea;
}

.fuchsia {
  background: #c026d3;
}

.pink {
  background: #db2777;
}

.rose {
  background: #e11d48;
}