* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 48px;
  padding: 48px 0;
  background: #030712;
  flex-wrap: wrap;
}

p {
  color: #fff;
  width: 100%;
  text-align: center;
  margin: 0;
}

a {
  color: inherit;
}

.wrapper1 {
  display: flex;
  gap: 16px;
}

.box {
  width: 48px;
  height: 48px;
  background: #aaa;
  cursor: pointer;
  opacity: 0;
}

.wrapper2 {
  display: flex;
  gap: 16px;
  width: calc((48px * 5) + (16px * 4));
  flex-wrap: wrap;
}

.box2 {
  width: 48px;
  height: 48px;
  background: #333;
  cursor: pointer;
}

/* 600 */
.red {
  background: #dc2626;
}

.orange {
  background: #ea580c;
}

.Amber {
  background: #d97706;
}

.yellow {
  background: #ca8a04;
}

.lime {
  background: #65a30d;
}

.green {
  background: #16a34a;
}

.emerald {
  background: #059669;
}

.teal {
  background: #0d9488;
}

.cyan {
  background: #0891b2;
}

.sky {
  background: #0284c7;
}

.blue {
  background: #2563eb;
}

.indigo {
  background: #6366f1;
}

.violet {
  background: #7c3aed;
}

.purple {
  background: #9333ea;
}

.fuchsia {
  background: #c026d3;
}

.pink {
  background: #db2777;
}

.rose {
  background: #e11d48;
}